downloadSpaceSize: 500Gi
accessMode: ReadWriteOnce

transmission:
  password: "admin"
  host: torrent.internal.zilinek.fun
  ingressClassName: nginx

jellyfin:
  host: jellyfin.internal.zilinek.fun
  ingressClassName: nginx
  publicHostname: jellyfin.zilinek.fun
  publicIngressClassName: nginx-external
  resources:
    requests:
      memory: 1Gi
    limits:
      memory: 1Gi
