apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx-external
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "https://github.com/zilinjak/homelab-k8s.git"
    targetRevision: HEAD
    path: helm/ingress-nginx
    helm:
      values: |
        controller:
          electionID: ingress-controller-leader
          ingressClass: nginx-external  # default: nginx
          ingressClassResource:
            name: nginx-external  # default: nginx
            enabled: true
            default: false
            controllerValue: "k8s.io/external-ingress-nginx"
          service:
            loadBalancerIP: 192.168.0.241
                controller:
          metrics:
            enabled: true
            serviceMonitor:
              enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx-external
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
