apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx-internal
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "https://github.com/zilinjak/homelab-k8s.git"
    targetRevision: HEAD
    path: helm/ingress-nginx
    helm:
      values: |
        controller:
          service:
            loadBalancerIP: 192.168.0.240
          metrics:
            enabled: true
            serviceMonitor:
              enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx-internal
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
