apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx-external
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.12.0
    chart: ingress-nginx
    helm:
      values: |
        controller.ingressClass: nginx-external
        ingressClass: nginx-external
        ingressClassName: nginx-external

        controller:
          ingressClassResource:
            enabled: true
            name: nginx-external
            controllerValue: k8s.io/ingress-nginx-external
            ingressClass: nginx-external
          extraArgs:
            ingress-class: nginx-external
          service:
            loadBalancerIP: 192.168.0.241
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx-external
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
