apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx-internal
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.12.0
    chart: ingress-nginx
    helm:
      values: |
        prometheus.create: true
        prometheus.service.create: true
        prometheus.serviceMonitor.create: true
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx-internal
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
