apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 68.2.1
    helm:
      releaseName: prometheus
      values: |
        # Contents of kube-prometheus-stack-values.yaml
        # Example of an override:
        prometheus:
          prometheusSpec:
            retention: 15d
            serviceMonitorSelectorNilUsesHelmValues: false
        # Add more configurations as required from your values file
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring  # Target namespace for deployment
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
