apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: httpbin
  annotations: 
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  ingressClassName: nginx-external
  tls:
  - hosts:
    - httpbin.zilinek.fun
    secretName: quickstart-example-tls
  rules:
  - host: httpbin.zilinek.fun
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: httpbin
            port:
              number: 80
  - host: httpbin.zilinek.cloud
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: httpbin
            port:
              number: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: httpbin-internal
spec:
  ingressClassName: nginx
  rules:
  - host: httpbin.internal.zilinek.fun
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: httpbin
            port:
              number: 80
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: httpbin-internal
spec:
  ingressClassName: nginx
  rules:
  - host: httpbin.internal.zilinek.fun
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: httpbin
            port:
              number: 80
