name: Build and Deploy FE Blog

on:
  push:
    branches:
      - main
    paths:
      - 'application_source/fe-blog/**'
  workflow_dispatch: ~

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: application_source/fe-blog

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: 'true'

    - name: Set up Hugo
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: 'latest'

    - name: Build Hugo site
      run: | 
        hugo
        ls -la .
        pwd
        ls -la public

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.10.0

    - name: Login to DockerHub
      uses: docker/login-action@v3.3.0
      with:
        username: ${{ vars.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_SECRET }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6.15.0
      with:
        context: application_source/fe-blog
        push: true
        tags: ${{ vars.DOCKERHUB_USER }}/blog:${{ github.sha }}
        platforms: linux/amd64,linux/arm64

    - name: Version bump in values.yaml
      run: |
        echo "ToDo: Implement version bump in values.yaml"
        # sed -i "s/tag: .*/tag: ${{ github.sha }}/g" application_source/fe-blog/helm/values.yaml
    
    - name: Commit and push version bump
      run: |
        git config --global user.email ""
        git config --global user.name "GitHub Actions"
        git add application_source/fe-blog/helm-chart/values.yaml
        git commit -m "Bump version to ${{ github.sha }}"
        git push
    
    