apiVersion: v1
kind: Service
metadata:
  name: {{ include "pms-chart.fullname" . }}
  labels:
    {{- include "pms-chart.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.externalTrafficPolicy }}
  externalTrafficPolicy: {{ .Values.service.externalTrafficPolicy }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 32400
      {{- if eq .Values.service.type "NodePort" }}
      nodePort: {{ default "32400" .Values.service.nodePort }}
      {{- end }}
      protocol: TCP
      name: pms
  selector:
    {{- include "pms-chart.selectorLabels" . | nindent 4 }}
---
kind: Service
apiVersion: v1
metadata:
  name: transmission-service
spec:
  selector:
    {{- include "pms-chart.selectorLabels" . | nindent 4 }}
  type: ClusterIP
  ports:
  - protocol: TCP
    name: web-interface
    port: 9091
---
kind: Service
apiVersion: v1
metadata:
  name: filebrowser-service
spec:
  selector:
    {{- include "pms-chart.selectorLabels" . | nindent 4 }}
  type: ClusterIP
  ports:
  - protocol: TCP
    name: http
    port: 80
